<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :group_name %>
  </div>

  <div class="field">
    <%= form.label :tags %>
    <%= form.text_field :tags, id: :group_tags %>
  </div>

  <div class="field">
    <%= form.label :slack_channel %>
    <%= form.text_field :slack_channel, id: :group_slack_channel %>
  </div>

  <div class="field">
    <%= form.label :default %>
    <%= form.check_box :default, id: :group_default %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
